.footer {
    display: flex;
    justify-content: space-between;
    background-color: #76ff03;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .column-title {
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  