.navbar {
    width: 100vw;
    background: #2c4047;
    color: white;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    margin-right: 50px;
  }
  
  .socials {
    display: flex;
    gap: 10px;
  }

  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
   
  .social-icon {
    fill: white;
  }